@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dependency Injection Applied to a Number property in a given class that implement , specific interfaces</h1>
    <p>
            Data from a Given class using DI:<br />
            Transient: @ViewBag.Transient <BR />
            Scoped: @ViewBag.Scoped <BR />
            Singleton: @ViewBag.Singleton <BR />
            Singleton Instance: @ViewBag.SingletonInstance <BR />
        
    </p>
</div>
